/*Global*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Open Sans', sans-serif;

    
}

/*Navbar Fixed Top (FIX) */
:target{
    padding-top:100px; /* = to height of navbar */
    margin-top:-100px;
  }

h1 {
    font-size: 5em;
    font-weight: 900;
}

h2 {
    color: #075982;
    font-size: 1.8rem;
    font-weight: 900;

}

h3 {
    font-size: 1.4rem;
    font-weight: 800;
}

h4 {

    font-size: 1.1rem;
    font-weight: 400;
}

h5 {
    font-size: 2rem;
    font-weight: 300;
}

h6 {
    font-size: 1rem;
    font-weight: 500;
}


/*Navbar*/
.navbar {
    top: 0;
    left: 0;
}

.bg-light .navbar-nav .nav-link {
    font-size: 1em;
    font-weight: 500;
    padding: 0 10px;
    color: black;
    transition:  0.5s ease;
}

.bg-light .navbar-toggler {
    border: 0;
    outline: 0;
}

.bg-light .navbar-nav .nav-link:hover,
.bg-light .navbar-nav .nav-link.active {

    color: #075982;
    text-decoration: underline;

}

.socialIconsF:hover,
.socialIconsF.active {
    color: black;
    transition: 0.5s ease;
}

.socialIconsF:hover,
.socialIconsF.active {
    color: #075982;
}
.socialIconsI:hover,
.socialIconsI.active {
    color: black;
    transition: 0.5s ease;
}

.socialIconsI:hover,
.socialIconsI.active {
    color: #075982;
}
.socialIconsL:hover,
.socialIconsL.active {
    color: black;
    transition: 0.5s ease;
}

.socialIconsL:hover,
.socialIconsL.active {
    color: #075982;
}

.navLogo {
    width: 15em;
    padding-right: 2em;

}



/*end*/

.mainText {
    padding-top: 10em;
}

.animationtest {
    font-size: 2em;
    font-weight: 200;
}




.card{
    border: 0%;
}


.card-title {
    color: #075982;
 
}

.servicesCard {
    animation: fadeInRight 2s ease-in-out;

}

.aboutMe{
    animation: fadeInUp 2s ease-in-out;
}

.portfolio {
    animation: fadeInRight 2s ease-in-out;

}

.modalBTN {
    border: none;
    height: 2rem;
}

#skills {
    animation: fadeInUp 2s ease-in-out;
  
}
.btn {
    border-radius: 0%;
    width: 20rem;
    background-color: #075982;
    color: white;
    font-weight: 900;
}

.btn-primary {
    color: #fff;
    background-color: #075982;
    border: none;

}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #757575;
    border: none;
}

.progress {
        height: 2rem;
        background-color: white;
}

.adobePhoto {
    background-color: #075982;
}

.square {
    color: #075982;
}

.expText {
    animation: fadeInRight 2s ease-in-out;

}
.socialIcons {
    margin-right: 5em;
}

.footerCbtn {
    width: 12em;
}

.number {
    padding: 15px;

}

.footerLogo {
    width: 10rem;
}

/*Animations*/

@keyframes fadeInUp{
    0% { opacity: 0;
  -webkit-transform: translate3d(0,15%,0);
  transform: translate3d(0,15%,0); }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
  }

@keyframes fadeInRight{
    0% { opacity: 0;
  -webkit-transform: translate3d(5%,0,0);
  transform: translate3d(5%,0,0); }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }

  @keyframes fader { 
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
